<div>
    <div class="modal-header" [style.background-color]='getnote?.color'>
        <h5 class="aria-label text-light">{{getnote?.title}}</h5>
            <button type="button" class="close" aria-label="Close" (click)="bsModalRef.hide()">
                <span aria-hidden="true" class="visually-hidden">&times;</span>
            </button>
    </div>
    <div class="modal-body">
        <div class="mb-3">
            <p>{{getnote?.body}}</p>
        </div> 
    </div>
    
    <div class="modal-footer ">
        <button type="button" class="btn btn-danger" (click)="bsModalRef.hide()">
            Close
        </button>
    </div>
<div>
